* {
    box-sizing: border-box;
}
body {
    background-color: #f0f8ff;
    margin: 0;
}

.container {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.display {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    padding: 20px;
    background-color: aliceblue;
    background-color: #fff;
    
   
}

.box {
    border: 2px solid #333;
    border-radius: 4px;
    height: 100px;
    width: 100px;
    margin: 10px;
    font-size: 50px;
    justify-content: center;
    

}

.box.active {
    opacity: 0.8;
}